.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-top: 70px;
  background-color: #0a1d37;
  .logo {
    h1 {
      font-size: 1.5rem;
    }
  }

  .footer__text {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
  }

  .footer__quick-links {
    .quick__links-title {
      margin-bottom: 30px;
      color: #fff;
      font-size: 1.1rem;
    }

    ul {
      background: transparent !important;
    }
    li {
      color: rgba(255, 255, 255, 0.5);
      background: transparent !important;
    }
    a {
      text-decoration: none;
      color: unset;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .footer__social-links {
    li {
      background: transparent !important;
    }
    a {
      background-color: #ff5959;
      border-radius: 50px;
      display: inline-block;
      font-size: 1.2rem;
      height: 30px;
      line-height: 28px;
      margin: 0 3px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      width: 30px;

      i {
        display: flex;
        color: #b2f9fc;
        font-weight: 700;
        margin-top: 5px;
        align-items: center;
        line-height: 50px;
        justify-content: center;
        padding-bottom: 10px;
        cursor: pointer;
      }
    }
  }

  .footer__contact {
    li {
      color: rgba(255, 255, 255, 0.5);

      p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.9rem;
      }

      span {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.5);

        i {
          display: flex;
          align-items: center;
          padding-bottom: 10px;
        }
      }
    }
  }

  .footer__social {
    display: flex;
    justify-content: space-between;
  }

  .footer__copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    text-align: center;
  }
}
